<div class="container" style="width: 60%" *ngIf="userList.length>0">
    <div *ngFor="let friend of userList">
        <!-- <div class="col-md-8"> -->
        <div class="d-flex flex-row justify-content-around box">
            <div class="align-self-center" *ngIf="friend.profilePic==''">
                <img src="../../../assets/pics/small_profile.png" class="user align-self-center">
            </div>
            <div class="align-self-center" *ngIf="friend.profilePic!=''">
                <img src="{{friend.profilePic}}" class="user align-self-center">
            </div>
            <div class="flex-column" style="text-align: left; width: 75%">
                <div class="bx" ng-click="userHome()">{{friend.firstName}} {{friend.lastName}}</div>
                <div>
                    this is a description {{friend.description}}
                </div>
            </div>

            <div class="align-self-center">
                <!-- <button type="button" class="btn btn-primary "> Add</button> -->
                <a [routerLink]="['/user-home',friend.userId]" class="btn btn-primary">View</a>
            </div>
            <div class="align-self-center">
                <button type="button" class="btn btn-primary" (click)="addFriend(friend.userId)"> Add Friend</button>
                <!-- <a [routerLink]="['/user-home',friend.userId]" class="btn btn-primary">View</a> -->
            </div>
        </div>
        <br/>
        <!-- </div> -->
    </div>
</div>