.panel{
    border: 1px blue double
}

.avatar{
    padding:2px;
}

.user {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:2px black dotted;
    object-fit: cover;
    padding:4px;
  }

  .box{
      border: 3px blue double;
  }
  .bx{
      border:1px solid red;
      padding: 2px
  }