<div class="container">
    <div class="row" style="text-align: left">
        <div class="col-md-12">
            <form #signUpForm="ngForm" (ngSubmit)="signUpFunction()">

                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" name="firstName" [(ngModel)]="firstName" #fname="ngModel" class="form-control" placeholder="First Name" required>
                </div>
                <div [hidden]="fname.valid||fname.pristine" class="alert alert-danger h6">
                    First Name is required.
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" [(ngModel)]="lastName" #lname="ngModel" class="form-control" placeholder="Last Name" required>
                </div>
                <div [hidden]="lname.valid||lname.pristine" class="alert alert-danger h6">
                    Last Name is required.
                </div>

                <div class="form-group">
                        <label for="mobile">Enter Contact Number</label>
                        <input type="text" name="mobile" [(ngModel)]="mobile" #phone="ngModel" class="form-control" placeholder="Enter Contact details" required>
                    </div>
                <div [hidden]="phone.valid||phone.pristine" class="alert alert-danger h6">
                            Contact detail is required.
                    </div>

                    <div class="form-group">
                            <label for="email">Enter Email</label>
                            <input type="email" #mail="ngModel" name="email" [(ngModel)]="email" class="form-control" placeholder="Enter email" required>
                        </div>
                    <div [hidden]="mail.valid||mail.pristine" class="alert alert-danger h6">
                                e-mail is required.
                        </div>

                    <div class="form-group">
                            <label for="password">Enter Password</label>
                            <input type="password" #pass="ngModel" name="password" [(ngModel)]="password" class="form-control" placeholder="Enter Password" required>
                        </div>
                    <div [hidden]="pass.valid||pass.pristine" class="alert alert-danger  h6">
                                enter password
                        </div>
                    
                    <div class="form-group">
                        <label for="gender">Category</label>
                        <select name="gender" [(ngModel)]="gender" class="form-control"  required>
                            <option [ngValue]="undefined" disabled selected>Please select a Category</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <!-- <app-profile-img></app-profile-img> -->
                        <input
                            style="display: none"
                            #fileInput
                            type="file" 
                            accept="image/*" 
                            (change)="processFile($event)" 
                        >
                        <button type="button" class="btn btn-primary" (click)=fileInput.click()>Select Profile Pic...</button>
                    </div>

                    <div *ngIf="selectedFile" class="img-preview-container">
                        <div class="img-preview"
                            [ngStyle]="{'background-image':'url('+ selectedFile.src +')'}" >
                        </div>
                    </div>

                <button type="submit" class="btn btn-primary" [disabled]="!signUpForm.form.valid">SignUP</button>

            </form>
        </div>
    </div>
</div>