<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="../../assets/pics/list.png" style="height: 230px; width:225px;">
        </div>
        <div class="col-md-8">
            <p>Hello Friends! Welcome to the ToDo App. This is not just an simple application, but an amalgamation of multiple features.</p>
            <p>SignUp yourself on the app and start making ToDos on the start of the day, or while going to the market. And then track all the ToDos on the go.</p>
            <p>It's not just that, log in to the platform and start making friends. You can send and receive friend Requests, and after that make groups to collaborate with them and create and edit todo in real time.</p>
            <p>It's All So Much Fun. Right Peoples...</p>
        </div>
           
    </div>
</div>